/* Where the magic happens */


/* logo */
.logo {
  width: 30px;
}

.projects-container {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  display: flex;
  gap: 10px;
}

.project-card {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 25%;
  margin: 7.5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Adjust for mobile */
@media (max-width: 768px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .project-card {
    width: 100%;
  }
}

.project-card-image-area {
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.project-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.project-card-strip h4 {
  padding: 30px;
  color: #333;
}

.skin-blue .main-header .logo {
  background-color: #004b8d;
  font-weight: normal;
  color: #808080;
}

.center {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  background-color: #004b8d;
  color: white;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: #004b8d;
  color: #6D6964;
}

/* main sidebar */
.skin-blue .main-sidebar {
  background-color: #004b8d;
  color: #6D6964;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a {
  background-color: #56af31;
  color: white;
}

/* active selected tab in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a:hover {
  background-color: white;
  color: #808080;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a {
  background-color: #004b8d;
  color: white;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover {
  background-color: white;
  color: #6D6964;
}

/* toggle button when not hovered  */
.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: #004b8d;
  color: #56af31;
}

/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #004b8d;
  color: #56af31;
}

/* body background */
.content-wrapper {
  background-color: white;
}

/* actionButton */ 
.button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", "Helvetica Neue";
  border: 1px solid #fff;
  font-weight: 500;
  text-align: center;
  height: 15vh;
  font-size: 2vh;
  width: 30%;
  cursor: pointer;
  margin-left: 1vh;
  margin-top: 2vh;
  list-style: none;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  transition: opacity 0.5s ease;
  z-index: -1; 
}

.button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  box-shadow: 0 2rem 2rem rgb(0 0 0 / 20%);
}

.button:hover::before {
  opacity: 0.7;
}

/* Specific background images for each button */
.button-dataset::before {
  background-image: url('https://gotopoland.eu/wp-content/uploads/2016/02/wolf.jpg');
}

.button-maps::before {
  background-image: url('https://www.polandtraveltours.com/wp-content/uploads/2022/01/niedzwiedz_blog.jpg');
}

.button-timeline::before {
  background-image: url('https://careersinpoland.com/media/file/moose.jpg');
}

/* button icons */ 
.icon {
  color: #56af31;
  font-size: 25px;
}

li a {
  color: #004b8d;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dataset > li > a {
  color: #004b8d;
  display: flex;
}

#maps > li > a {
  color: #004b8d;
  display: flex;
}

#timeline > li > a {
  color: #004b8d;
  display: flex;
}

.button:hover a {
  color: #fff;
  display: block;
}

.link {
  font-size: 13px;
  color: #56af31;
  font-weight:600;
  text-align: center;
  padding: 5px;
 }

.button-text {
  color: #004b8d;
}

 .button:hover .button-text {
  color: #fff;
}

ul.checklist {
  list-style: none;
  padding-left: 3em;
}

ul.checklist li::before {
  content: "\2713";
  color: #56af31;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
